<form>
  <div class="mb-3">

    <input
      type="text"
      class="form-control"
      id="username"
      placeholder="username"
    />

  </div>
  <div class="mb-3">

    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="password"
    />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>